@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Poiret+One&display=swap');

* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    font-family: Hind, sans-serif;
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 400;

}

/* headings logo and navigation bar */

h1,
h2 {
    font-family: 'Poiret One', sans-serif;
    text-transform: uppercase;
    color: #2e2c2c;
    letter-spacing: 4px;
}

#logo {
    display: flex;
    margin: 0 auto;
    width: 100%;    
    justify-content: center;
    align-content: center;

}

#logo-text {
    font-size: 280%;
    text-align: center;
    margin: 15px auto;

}

#logo-img {
    height: 100px;
    width: 70px;

}

.logo-center {
    margin: 30px 0;
    line-height: 100px;

}

a {
    text-decoration: none;
    color: inherit;
}

#nav-bar {
    display: flex;
    font-size: 110%;
    letter-spacing: 2px;
    flex-wrap: wrap;
  
}

#nav-bar li {       
    list-style-type: none;
    margin-left: 0;
    margin-right: 30px;
}

#nav-bar a:hover {
    color:rgb(238, 142, 26);
}

.hover {
    color:rgb(238, 142, 26);
}


/*Media queries*/
/* For medium screen sizes from 460px wide up */

@media screen and (min-width: 460px) {


    #logo-text {
        margin: 30px 0;

    }

}


/* For medium screen sizes from 580px wide up */
@media screen and (min-width: 580px) {
#nav-bar {
    justify-content: center;

}

#nav-bar li {
    margin: 0 30px;
}
}