@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Poiret+One&display=swap');

* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    font-family: Hind, sans-serif;
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 400;

}

/* headings logo and navigation bar */

h1,
h2 {
    font-family: 'Poiret One', sans-serif;
    text-transform: uppercase;
    color: #2e2c2c;
    letter-spacing: 4px;
}

#logo {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-content: center;

}

#logo-text {
    font-size: 280%;
    text-align: center;
    margin: 15px auto;

}

#logo-img {
    height: 100px;
    width: 70px;

}

.logo-center {
    margin: 30px 0;
    line-height: 100px;

}

a {
    text-decoration: none;
    color: inherit;
}

#nav-bar {
    display: flex;
    font-size: 110%;
    letter-spacing: 2px;
    flex-wrap: wrap;

}

#nav-bar li {
    list-style-type: none;
    margin-left: 0;
    margin-right: 30px;
}

#nav-bar a:hover {
    color: rgb(238, 142, 26);
}

.active {
    color: rgb(238, 142, 26);
}

/* "main image and cover text" */

#main-image {
    height: 600px;
    width: 100%;
    background: url('../image/main.jpeg') no-repeat center center;
    background-attachment: fixed;

}

#cover-text,
#cover-text h2 {
    color: #3f0303;
}

#container {
    height: 600px;
    width: 100%;
    position: relative;

}

#cover-text {
    font-size: 130%;
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
    width: 90%;
    height: 200px;
    padding-left: 15px;
    position: absolute;
    bottom: 45%;

}

/* "Yoga class and booking link" */

#class-text {
    text-align: center;
    margin: 30px 0;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 120%;

}

#classes h3,
#classes p {
    padding-left: 10px;
    text-align: center;
}

#classes {
    display: flex;
    flex-wrap: wrap;

}

.class-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding-left: 10px;
}

.flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-button {
    Margin: 10px 20px;
    padding: 0 10px;
    font-size: 15px;
    color: white;
    border: 1px solid #3d3d3d;
    background-color: #d688a5;
    cursor: pointer;
    border-radius: 5px;

}

/*Media queries*/
/* For screen sizes from 500px wide up */

@media screen and (min-width: 500px) {

    #logo-text {
        margin: 30px 0;

    }

    #cover-text {
        bottom: 35%;
    }
}




/* For screen sizes from 580px wide up */
@media screen and (min-width: 580px) {
    #nav-bar {
        justify-content: center;

    }

    #nav-bar li {
        margin: 0 30px;
    }
}

/* For screen sizes from 950px wide up */
@media screen and (min-width: 950px) {
    .flex {
        width: 50%;
    }
}